@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');



* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

html,
body {
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(135, 174, 196);
}

#panel{
    overflow: hidden;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    background-color: #fff;

}

#ptop {
    justify-content: space-between;
    padding: 0px 30%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(54, 114, 141);
}

.elem {
    display: flex;
    width: 10%;
    gap: 10px;
    align-items: center;

}

.box {
    font-weight: 600;
    font-size: 23px;
    color: rgb(5, 53, 10);
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}


#pbtm {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    padding: 30px;
    width: 100%;
    height: calc(100% - 100px);

}

.bubble {
    width: 60px;
    height: 60px;
    background-color:  rgb(91, 136, 157);
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;

}

.bubble:hover {
    cursor: pointer;
    background-color:  rgb(54, 114, 141);
}





@media only screen and (max-width:600px) {


    .elem {
        display: flex;
        width: 40%;
        gap: 9px;
        align-items: center;
        padding: 10px;
    }
    #ptop{
        padding: 0px 5%;
    }
    
        .box {
            font-weight: 600;
            font-size: 17px;
            color: rgb(5, 53, 10);
            padding: 7px;
            background-color: #fff;
            border-radius: 5px;
        }
    
#pbtm{
    gap: 6px;
    padding: 9px;
}
        .bubble{
        width: 30px;
    height: 30px;
        }
}